<h1>Are you sure you want to continue? This operation will delete all database contents</h1>
<h4>Click here :</h4><button><a class="nav-link text-dark" asp-area="" asp-controller="Questions" asp-action="DeleteSuper">DUMP DATA</a></button>
