@{
    //ViewData["header"] = true;
}

@using (Html.BeginForm("Jump", "Questions", FormMethod.Get))
{
    <h1>&nbsp</h1>
    <h1>&nbsp</h1>

    <div>
        @Html.Label("Topic-Number:")
        @Html.TextBox("Source", null, new { type = "number", max = @ViewData["count"]})
    </div>
    <hr/>
    <input type="submit" value="Jump &nbsp" />
}

